---
import Layout from "../layouts/Layout.astro"
---
<Layout title="About">
    <main>  
        <h1>About Me</h1>
        
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
</style>