---
import Articles from "../components/Articles.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await Astro.glob("./blog/*.md*");
---

<Layout title="Blog">
    <main>
        <h1>Blog</h1>
        <p>Ctrl+F to search posts.</p>
        <ul role="list" class="link-card-grid">
            {allPosts.map((post) => 
                <Articles
                    href={post.url}
                    title={post.frontmatter.title}
                    date={post.frontmatter.date}
                    body={post.frontmatter.description}
                />
            )}
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: .5rem;
        width: 1200px;
        max-width: calc(100% - 1rem);
    }
    @media (max-width: 640px) {
        main {
            width: 100%;
            padding: .5rem;
        }
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem;
    }
    p {
        padding-left: 2rem;
    }
    .link-card-grid {
        display: grid;
        gap: 1rem;
        padding: .5rem;
    }
</style>