<div class="navbar bg-neutral">
  <!-- left-bias elements -->
  <div class="navbar-start">
    <!-- dropdown menu; icons + elements -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <!-- hamburger icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <!-- menu items -->
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <details>
            <summary><a href="/projects">Projects</a></summary>
            <ul class="p-2">
              <li><a href="/fullstack">FullStack</a></li>
              <li><a href="/native">Native</a></li>
              <li><a href="/cybersecurity">CyberSecurity</a></li>
            </ul>
          </details>
        </li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Animdl</a>
  </div>
  <!-- center-bias elements -->
  <div class="navbar-center hidden lg:flex">
    <!-- menu items -->
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li>
        <details>
          <summary><a href="/projects">Projects</a></summary>
          <ul class="p-2">
            <li><a href="/fullstack">FullStack</a></li>
            <li><a href="/native">Native</a></li>
            <li><a href="/cybersecurity">CyberSecurity</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <!-- right-bias elements -->
  <div class="navbar-end"></div>
</div>
