---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CyberSecurity">
    <main>
        <h1>CyberSecurity Projects</h1>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: .5rem;
        width: 800px;
        max-width: calc(100% - 1rem);
    }
    h1 {
        text-align: center;
    }
</style>